* {
  box-sizing: border-box;
}
body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}
h1 {
  text-transform: uppercase;
  text-align: center;
  margin: 20px 0;
  color: aliceblue;
}

label{
  color: aliceblue;
}
#search-form {
  text-align: center;
  margin-bottom: 40px;
}
.gif-containers {
  height: 40vh;
  width: 80%;
  background: black;
  margin: 0 auto;
}




